/* Top Sellers */
.sellers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .seller-item {
    background-color: #feb47b;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .seller-item:hover {
    transform: scale(1.05);
  }